#articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-card{
    margin: 1rem;
    width: 25vw;
    justify-content: space-between;
}

.article-card .card-body{
    background-color: var(--main-dark) !important;
    color: white;
}

.article-card .card-title
{
    font-size: 1.6rem;
}
.article-card .card-title:hover
{
    color: var(--main-highlight);
    cursor: pointer;
}

.article-card .card-img-top:hover
{
    opacity: 0.8;
    cursor: pointer;
}

.article-card .price
{
    float: right;
}

.category-group{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: block;
    margin: 0;
    padding: 0;
    /*border-top:1rem solid var(--main-dark);
    border-bottom:1rem solid var(--main-dark);
    border-left: .5rem solid var(--main-dark);
    border-right: .5rem solid var(--main-dark);*/
}

.category-item:not([href]){
    /*border: .5rem solid var(--main-dark);
    border-radius: .6rem;*/
    margin: 0;
    padding: .7rem;
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--main-dark); 
    color: white;
}
.category-item:last-child{
    border-bottom-right-radius: .6rem;
    border-top-right-radius: .6rem;
}

.category-item:first-child{
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}

.category-item:not([href]):hover{
    background-color: var(--main-dark-t);
    color: white;
    cursor: pointer;
}

.category-item-selected:not([href])
{
    background-color: var(--main-dark-o);
    color: white;
}

.category-item-selected:not([href]):hover
{
    color: white;
}

.category-container{
    position: relative;
}
.category-container img{
    object-fit: cover;
    width: 100%;
    height: 35vh;
}
