/*
Vorschlag für zukünftigen Farbcode:
Text: 000000
Hintergrund: DCDCDD
Navigationsbar: 46494C
footer-background: C5C3C6
Highlights-Alternativ-Hintergrund: 4C5C68
Buttons: 4C5C68
Wichtiges-Links-Warnungen: 1985A1
https://coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

:root{
  --main-dark: rgb(52, 58, 64);
  --main-dark-o: rgb(52, 58, 64,0.7);
  --main-dark-t: rgb(52, 58, 64,0.4);
  --main-highlight: rgb(189, 42, 152);
  --main-highlight-t: rgb(189, 42, 152,0.6);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

main {
  padding: 100px 0 0 0;
}
.button {
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: none;
  border: none;
}

.button:hover {
  color: #702632;
}

.info {
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 4px solid #007bff;
  padding: 4px 32px;
  margin: 4px 32px;
}

.info:hover {
  background-color: #007bff;
  color: white;
}

.carouselbutton {
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 4px solid #6c757d;
  padding: 4px 32px;
  margin: 4px 32px;
}

.carouselbutton:hover {
  background-color: #6c757d;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 170px;
}

.row {
  display: table;
  clear: both;
}

.category-bar {
  display: block;
}

/* .scrollbar {
  -ms-scrollbar-base-color: #007bff;
  margin-bottom: 200%;
} */

.border {
   display: inline-block;
   padding:16px;
   margin: 6px;
 }


.navbar{
  height: 4.5rem;
  justify-content: space-between;
}

.shoppingCart-btn{
  margin-left: auto;
}

.footer {
  background-color:#46494C;
  color:#ffffff;
}
.footer a {
  color:#ffffff;
}
.footer a:hover {
  text-decoration: none;
  color:#C5C3C6;
}
#price {
  color: #8E2323
}
.link {
  /* background-color:#46494C; */
  color:#111111;
