.button {
  background-color: white; /* Green */
  color: black;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonround {
  border-radius: 50%;
  border: 4px solid #bd2a98;
}

.buttonround:hover {
  background-color: #bd2a98;
  color: white;
}

.info {
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 4px solid #007bff;
  padding: 4px 32px;
  margin: 4px 32px;
}

.info:hover {
  background-color: #007bff;
  color: white;
}

.carouselbutton {
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 4px solid #6c757d;
  padding: 4px 32px;
  margin: 4px 32px;
}

.carouselbutton:hover {
  background-color: #6c757d;
  color: white;
}
.footer {
  // position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   /*text-align: center;*/
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 170px;
}

.row {
  content: "";
  display: table;
  clear: both;
}

.scrollbar {
-ms-scrollbar-base-color: #007bff;
margin-bottom: 200%;
}
