extends layout

block body  
  body(onload="getCategories()")
  //- , setStatusOnButton()

block nav
  - var cur = "category"

block content
  div#adminc.col.pt-2
    h2.text-center
      | #{title}
    div.nav.navbar.search-bar.header.shadow
      button#newCatBtn.btn.btn-secondary.btn-sm(type="button" data-tooltip="tooltip" data-placement="bottom" title="Create a new category" data-toggle="modal" data-target="#addModal")
        i.fa.fa-plus
          |  Add
      div.search-container
        form
          input(type="text" placeholder="Search.." name="search")
          button(type="submit" onclick=("orderSearch()"))
            i.fa.fa-search
            
    div#errorTableObjekt

    include category_add
    
    include category_details
    
    div#jsonTableObjekt
    
    div#status.text-center

    
            
      
