extends default

block content
  div.col.pt-2
    h2
      | Striped Rows
    p
      | The .table-striped class adds zebra-stripes to a table:
    table.table.table-striped
      thead
        tr
          th
            | Firstname
          th
            | Lastname
          th
            | E-Mail
      tbody
        tr
          td
            | John
          td
            | Doe
          td
            | john@example.com            
              
