extends layout

block body  
  body(onload="getOrders()")

block nav
  - var cur = "index"
  
block content
  div#adminc.col.pt-2
    h2.text-center
      | Welcome Employee
    p
      h5
        | List of open orders
    
    div#jsonTableObjekt
              
