extends layout

block body  
  body(onload="getOrderStatus()")

block nav
  - var cur = "order"

block content
  div.col.pt-2
    h2.text-center #{title}
    div.search-bar
      button#btn(type="button" data-tooltip="tooltip" data-placement="bottom" title="Sort status" data-toggle="modal" data-target="#setStatusModal")
        | Status
      div.search-container
        form
          input(type="text" placeholder="Search.." name="search")
          button(type="submit" onclick=("orderSearch()"))
            i.fa.fa-search
    div
      p#test
    div#jsonobjekt

      
      
block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  script(type='text/javascript' src='js/services.js' defer='defer')
  script(type='text/javascript' src='js/form_data.js' defer='defer')
  script(type='text/javascript' src='js/request.js' defer='defer')
  script(type='text/javascript' src='js/db_sidebar.js')
  script(type='text/javascript' src='js/tooltip.js')

    
            
      
