block article
  div#article-modal.unvisible
    div#article-container
      img#article-detail-img
      div.card.bg-light
        div.card-header
          h2#article-detail-name
            | Name of the product
          button#article-container-close
            i.fas.fa-times

        div.card-body
          p.card-text#article-detail-description
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          
          div#price-container
            i.fas.fa-dollar-sign#currency
            span#price-first
             | 00
            span#price-comma
             | ,
            span#price-last
             | 00

          div#article-option
            h3="Options:"   
            div.dropdown.p-3#article-property
              button.dropdown-toggle#artilce-select-btn
               | choose
              ul#artilce-select-options.artilce-select-options-invisble
                li
                  a
                    | red
                li
                  a
                    | blue
                li
                  a
                    | green
                li
                  a
                    | white
                li
                  a
                    | black




        div.card-footer
          a.btn#article-add-cart(data-toggle="tooltip" title="add in shopping card")
            | ADD TO CART
