extends layout

block content
  div#content-container
    div.shadow-lg.category-container
      img#category-img(src="http://localhost:3004/clothes.jpg")
      div#categories.category-group
        button.btn.btn-outline-secondary
          | loading...

    div.container-fluid#articles

  #thanks.container.unvisible
    h1="Thank you for buying."

  include article

  include order

  include submitorder

block append scripts   

  script(src='/script/content.js')
  script(src='/script/load.js')
  script(src='/script/shoppingCart.js')
  script(src='/script/article.js')
  script(type='text/javascript' src='script/order.js')
  script(type='text/javascript' src='script/switcher.js')