doctype html
block header
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title #{title}

    link(rel='stylesheet' href='css/style.css' type='text/css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' type='text/css' media='screen')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='screen')


block body
  body.scrollbar

    block navbar
      nav.navbar.navbar-expand-md.bg-dark.navbar-dark.fixed-top
        a.navbar-brand.nav-link.active(href=`/`)
            | Logo

        form.form-inline.my-2.my-lg-0.ml-auto.mx-auto(action="/action_page.js")
          input.form-control.mr-sm-2(type="text" placeholder="Search" aria-label="Search")
          button.btn.btn-success(type="submit")
            | Search

        button.info(type='button')
          | about

        button.button.buttonround
          i.fas.fa-user(style='font-size:24px')

        button.button.buttonround
          i.fas(style='font-size:24px')
            | &#xf07a;

    block content
      div.container-fluid.carousel.slide(id="demo" data-ride="carousel")
        ol.carousel-indicators
          li.active(data-target="#demo" data-slide-to="0")
          li(data-target="#demo" data-slide-to="1")
          li(data-target="#demo" data-slide-to="2")

        div.carousel-inner
          div.carousel-item.active
            img.d-block.w-100(src="https://www.w3schools.com/bootstrap4/la.jpg" alt="First slide")
            div.carousel-caption.d-none.d-md-block
              div
                button.carouselbutton(type="button")
                  | To the calendar
                button.carouselbutton(type="button")
                    | all calendar
                h5
                  | Calendar X
                p
                  | description about the calendar
          div.carousel-item
            img.d-block.w-100(src="https://www.w3schools.com/bootstrap4/chicago.jpg" alt="second slide")
            div.carousel-caption.d-none.d-md-block
              h5
                | Calendar Y
              p
                | description about the calendar
          div.carousel-item
            img.d-block.w-100(src="https://www.w3schools.com/bootstrap4/ny.jpg" alt="Third slide")
            div.carousel-caption.d-none.d-md-block
              h5
                | Calendar Z
              p
                | description about the calendar

        a.carousel-control-prev(href="#demo" role="button" data-slide="prev")
          span.carousel-control-prev-icon(href="#demo" role="button" data-slide="prev")
          span.sr-only
            | Previous
        a.carousel-control-next(href="#demo" role="button" data-slide="next")
          span.carousel-control-next-icon(href="#demo" role="button" data-slide="next")
          span.sr-only
            | Next

      div.container-fluid.pt-3
        div.border.border-secondary.w-100.shadow-lg.bg-light
          div.btn-group.btn-group-lg.float-left
            button.btn.btn-outline-secondary
              | categry 1
            button.btn.btn-outline-secondary
              | categry 2
            button.btn.btn-outline-secondary
              | categry 3
            button.btn.btn-outline-secondary
              | categry 4

          div.button.btn.btn-secondary.btn-lg.dropdown-toggle.float-right(type="button" data-toggle="dropdown")
            | sort
            div.dropdown-menu
              a.dropdown-item(href="#")
                | categry 1
              a.dropdown-item(href="#")
                | categry 2
              a.dropdown-item(href="#")
                | categry 3
              a.dropdown-item(href="#")
                | categry 4

      div.container-fluid
        div.card-group
          div.card
            img.card-img-top(src="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" alt="Cinque Terre")
            div.card-body
              h5.card-title
                | Name of the product
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary(href="#" data-toggle="tooltip" title="add in shopping card")
                i.fas.fa-plus(style='font-size:24px')

          div.card
            img.card-img-top(src="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" alt="Cinque Terre")
            div.card-body
              h5.card-title
                | Name of the product
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary(href="#" data-toggle="tooltip" title="add in shopping card")
                i.fas.fa-plus(style='font-size:24px')

          div.card
            img.card-img-top(src="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" alt="Cinque Terre")
            div.card-body
              h5.card-title
                | Name of the product
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary(href="#" data-toggle="tooltip" title="add in shopping card")
                i.fas.fa-plus(style='font-size:24px')

      div.container-fluid
        span.border.border-0
        button.btn.btn-outline-secondary.btn-block
          | show more products


    block footer
      div.footer.container-fluid.pt-3
        div.row
          div.column(style="background-color:#aaa;")
            h2(style="text-align:center")
              | description of the shop
            p
              | Some text..

          div.column(style="background-color:#bbb;")
            h2(style="text-align:center")
              | legal pages

            div.container.ul
              li
                a(href=`/`)
                  | imprint
              li
                a(href=`/`)
                  | data protection
              li
                a(href=`/`)
                  | conditions
              li
                a(href=`/`)
                  | notice of cancellation

          div.column(style="background-color:#ccc;")
            h2(style="text-align:center")
              | sitemap

            div.container-fluid.ul
              li
                a(href=`/`)
                  | startsite
              li
                a(href=`/`)
                  | contact
              li
                a(href=`/`)
                  | about
              li
                a(href=`/`)
                  | approach

  block scripts
    script(src='https://kit.fontawesome.com/a076d05399.js')
    script(src='https://kit.fontawesome.com/a076d05399.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
