extends layout

block content
  div.shadow-lg.category-container
    img#category-img(src="http://localhost:3004/clothes.jpg")
    div#categories.category-group
      button.btn.btn-outline-secondary
        | loading...

  div.container-fluid#articles